<html>
    <head>
        <title>Przegląd pasieki</title>
    </head>
    <body>
        <div>
            <h1><a href="/">przegląd pasieki</a></h1>
        </div>

        <div>
            <p>published: 08.05.2024, 20:00</p>
            <h2><a href="">Moja pierwsza część</a></h2>
            <p>1 przegląd</p>
        </div>

        <div>
            <p>published: 08.05.2024, 20:10</p>
            <h2><a href="">Moja druga część</a></h2>
            <p>1 przegląd</p>
        </div>
    </body>
</html>
