{% extends "app/base.html" %}

{% block content %}
<div class="container">
   
    
    <h1> 
        Szczegóły dla ula  "{{ uld.nazwa }}"
        <a class="btn btn-default" href="{% url 'post_edit' uld.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </h1>
        {% if uld %}
        
            <ul>
                <li>Data instalacji - {{ uld.install_date }}</li>
                    {% for matka in uld.matka.all %}
                <li> Matka - {{matka.matka}}</li>             
                    {% endfor %}
                <li>Data podania matki - {{ uld.matka_date }}</li>
                    {% for posiadane_ule in uld.typ_ula.all %}
                <li> Typ ula - {{posiadane_ule.typ_ula}}</li>             
                    {% endfor %}
                <li>ilość ramek - {{ uld.ilosc_ramek }}</li>
                    {% if uld.aktywny  %}
                <li>aktywny - Tak</li>
                    {% else %}    
                <li>aktywny - Nie</li>  
                    {% endif %}  
            </ul>

        {% else %}
            <p>Brak uli</p>
        {% endif %}

 </div>  


{% endblock %}

